In [10]:
import pymysql

In [ ]:
# 처음 localhost 생성 시에 Public Key Retrieval is not allowed 에러가 뜰 시, 접속하고자 하는 커넥션을 우클릭
# 'Edit connection' 클릭 후, Drivers Properity에서 allowPublicKeyRetrieval를 True로 바꿔준다.

In [11]:
# pymysql.connect(host=서버IP주소, user=사용자, passoword=암호, db=데이터베이스, charset=문자세트)
conn = pymysql.connect(host = 'localhost', user='root', password='1234', db="practice", charset="utf8mb4")

# 데이터베이스 통로
cur = conn.cursor()

In [12]:
###### 테이블 생성 ######

# 테이블이 존재하는지 확인
cur.execute("SHOW TABLES LIKE 'userTable'")
result = cur.fetchall()

# 만약 존재한다면 텍스트, 아니라면 테이블 생성
# BIRTH는 데이터 타입을 DATE로 해도 괜찮을 듯
if result:
    print('Table exist')
else:
    cur.execute("CREATE TABLE userTable(ID char(4), NAME char(15), EMAIL char(20), BIRTH date)")

Table exist

In [13]:
# 데이터 입력
cur.execute("INSERT INTO userTable VALUES('hong', '홍지윤', 'hong@naver.com', '1996-08-16')")

1

In [14]:
# 데이터베이스 저장을 허락(commit)
conn.commit()

In [15]:
# 테이블 확인
cur.execute("SELECT * FROM userTable")
result = cur.fetchall()

print(result)

(('hong', '홍지윤', 'hong@naver.com', datetime.date(1996, 8, 16)), ('hong', '홍지윤', 'hong@naver.com', datetime.date(1996, 8, 16)))

In [16]:
# 데이터베이스를 다 사용했다면 닫아줘야 한다
conn.close()